
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
       <div>
           <strong>姓名:</strong>
           <input name="username" id="name" type="text" /><br />
           <strong>性別:</strong>
                    <input type="radio" name="gender" value="male" />男
                    <input type="radio" name="gender" value="female" />女
           <br />
          <strong>電子郵件:</strong>
          <input name="email" type="text" value="username@maileserver" /><br />
                    <label><strong>居住地:</strong></label>
                    <select name="occupationlist">
                        <option value="occupation1">台北市
                        <option value="occupation2">新北市
                        <option value="occupation3">台中市
                        <option value="occupation4">高雄市
                    </select>
           <br />
           <strong>喜好:</strong>
                    <input type="checkbox" name="like" value="電影" />電影
                    <input type="checkbox" name="like" value="電玩" />電玩
                    <input type="checkbox" name="like" value="看書" />看書
                    <input type="checkbox" name="like" value="爬山" />爬山
           <br />
       </div>
</body>
</html>
